body { background-color: #F5F5F5; }

.shipping-wrapper {
	
}

.form-signin input[type="text"], .form-signin input[type="password"] { 
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

 .inline-label {
 	display: inline;
 }
 
 .well-white {
 	background: #FFF;
 }